body {
  margin:0;
  background: #4CA1AF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #C4E0E5, #4CA1AF) fixed;  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #C4E0E5, #4CA1AF) fixed; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat: no-repeat;
}

h1 {
  font-family: 'Glegoo';
  font-size: 400%;
  text-align: center;
  margin-top: 90px;
  color: white;
  letter-spacing: 2px;
  font-weight: bold;
  margin-bottom: -10px;
}

h2 {
  font-family: 'Roboto';
  font-size: 100%;
  text-align: center;
  color: white;
  font-style: italic;
}

ul {
	list-style-type: none;
}

ul li a{
  font-family: 'Roboto';
  font-size: 150%;
  margin-left: 10%;
  margin-top: 5%;
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: #4CA1AF;
}

#pattern{
  background-image:url('/stylesheets/scatterd3.png');
  position: fixed;
  top: 65%;
  left: 25%;
  opacity: 0.8; 
  width: 100%; 
  height: 100%;
  z-index: -1;
  background-repeat: no-repeat;
} 

#logo{
  background-image:url('http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons/black-ink-grunge-stamps-textures-icons-sports-hobbies/042527-black-ink-grunge-stamp-textures-icon-sports-hobbies-people-man-runner.png');
  background-repeat: no-repeat;
  position: fixed;
  bottom: -10%;
  left: 28%;
  opacity: 0.8; 
  width: 80%; 
  height: 80%;
  z-index: -1;
}

#links{
  position: fixed;
  top: 1%;
  right: 1%;
  z-index: -1;
  -webkit-filter: brightness(100%);
	-moz-filter: brightness(100%);
	-o-filter: brightness(100%);
	-ms-filter: brightness(100%);
	filter: brightness(100%);
  -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
}

#links:hover{
	-webkit-filter: brightness(0%);
	-moz-filter: brightness(0%);
	-o-filter: brightness(0%);
	-ms-filter: brightness(0%);
	filter: brightness(0%);
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
}

#cv a{
	font-family: 'Glegoo';
	font-size: 120%;
	color: white;
	position: fixed;
	top: .66%;
	right: 4%;
}

#cv a:visited {
  color: white;
}

#cv a:hover {
  color: #4CA1AF;
}
