body {
  background: #4CA1AF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #C4E0E5, #4CA1AF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #C4E0E5, #4CA1AF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat: no-repeat;
  background-size: contain;
}

h1 {
  font-family: 'Glegoo';
  font-size: 400%;
  text-align: center;
  margin-top: 200px;
  color: white;
  letter-spacing: 2px;
  font-weight: bold;
}

h2 {
  font-family: 'Roboto';
  font-size: 100%;
  text-align: center;
  color: white;
  font-style: italic;
}
